<div class="card txtcenter" *ngIf="isLoading">
  <h4 class="card-header">Loading...</h4>
  <div class="card-block text-xs-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>
</div>
<app-toast [message]="toast.message"></app-toast>

<div class="card card-warning marg-top" *ngIf="!isLoading">
  <h4 class="card-header text-primary">Current Departments </h4>
  <div class="card-block">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="8%">序号</th>
          <th width="8%">用户ID</th>
          <th width="10%">姓名</th>
          <th width="10%">班型</th>
          <th width="10%">上班时间</th>
          <th width="10%">下班时间</th>
          <th width="14%">考勤情况</th>
          <th width="15%">备注</th>
          <th width="15%">操作</th>
        </tr>
      </thead>
      <tbody *ngIf="deps.length === 0">
        <tr>
          <td colspan="9">暂无数据</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
      <tr *ngFor="let dep of deps; let i = index;" class="text-primary bg-warning">
        <td>{{i+1}}</td>
        <td>{{dep._id}}</td>
        <td>{{dep.name}}</td>
        <td>{{dep.workType == '1' ? '早班' : '晚班'}}</td>
        <td>{{dep.toWork}}</td>
        <td>{{dep.offWork}}</td>
        <td>{{dep.attendance}}</td>
        <td>{{dep.remark}}</td>
        <td>
          <button class="btn btn-sm btn-success" (click)="enableEditing(dep)"><i class="fa fa-pencil"></i> Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteCat(dep)"><i class="fa fa-trash"></i> Delete</button>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="isEditing" class="bg-primary">
      <tr class="bg-info">
        <td colspan="4" class="bg-primary">
          <form class="form-inline" #form="ngModel" [(ngModel)]="departmentFrom" (ngSubmit)="editCat(dep)" style="display:inline">
            <div class="form-group">
              <input class="form-control" type="text" name="name" [(ngModel)]="dep.name" placeholder="Name" required>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="workType" [(ngModel)]="dep.workType" placeholder="WorkType" required>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="toWork" [(ngModel)]="dep.toWork" placeholder="ToWork" required>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="offWork" [(ngModel)]="dep.offWork" placeholder="OffWork" required>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="attendance" [(ngModel)]="dep.attendance" placeholder="Attendance" required>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="remark" [(ngModel)]="dep.remark" placeholder="Remark">
            </div>
            <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.valid"><i class="fa fa-floppy-o"></i> Save</button>
          </form>
          <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card card-default" *ngIf="!isEditing">
  <h4 class="card-header text-danger">Add a New Department </h4>
  <div class="card-block text-danger bg-success">
    <form class="form-inline" [formGroup]="addDepartmentForm" (ngSubmit)="addDep()" style="text-align:center">
      <div class="form-group">
        <input class="form-control" type="text" name="department.name" formControlName="name" placeholder="Name">
      </div>
      <div class="form-group">
        <select class="form-control" name="department.workType" formControlName="workType">
          <option selected="selected">请选择</option>
          <option *ngFor="let dep of departments" [ngValue]="dep.id">
            {{ dep.name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="department.toWork" formControlName="toWork" placeholder="ToWork">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="department.offWork" formControlName="offWork" placeholder="OffWork">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="department.attendance" formControlName="attendance" placeholder="Attendance">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="department.remark" formControlName="remark" placeholder="Remark">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="addDepartmentForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>
